storefrontcampfire/src/flows/Campfire_Instant_Storefront_Invite_to_Reorder_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that sends the specified contact an invitation to the webstore that the flow user selected in WebstoreChoiceLookup on CollectInviteDetailsScreen that allows the contact  to reorder any items from the order with an ID of recordId.</description>
        <name>InviteContactToReorderPortal</name>
        <label>Invite Contact to Reorder Portal</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <actionName>inviteToReorderPortal</actionName>
        <actionType>inviteToReorderPortal</actionType>
        <connector>
            <targetReference>DisplayResults</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayFailureMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>webStoreId</name>
            <value>
                <elementReference>WebstoreChoiceLookup.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactIds</name>
            <value>
                <elementReference>ContactToInviteCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>inviteToReorderPortal</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Add CustomerSignedId of Contract from GetContract to ContactIds.</description>
        <name>AddContactIdToCollectionCustomerSignedId</name>
        <label>Add ContactId to Collection</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetContract.CustomerSignedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the CustomerAuthorizedById of Order from GetOrder to ContactIds.</description>
        <name>AddContractToCollectionCustomerAuthorizedById</name>
        <label>Add Contact to Collection</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOrder.CustomerAuthorizedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveContractId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the ID of the contact selected by the flow user in ContactChoiceLookup on CollectInviteDetailsScreen to ContactToInviteCollection.</description>
        <name>AddSelectedContactToCollection</name>
        <label>Add Selected Contact to Collection</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ContactToInviteCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactChoiceLookup.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InviteContactToReorderPortal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether Order from GetOrder has an associated ContractId.</description>
        <name>HaveContractId</name>
        <label>Have Contract ID?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasContractId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Stores the contacts with IDs in ContactIds as choices to be displayed for ContactChoiceLookup in CollectInviteDetailsScreen. Shows the name for each choice and passes the ID for the flow user&apos;s selection.</description>
        <name>ContactChoiceSet</name>
        <collectionReference>GetContacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores up to 20 Store choices to be displayed for WebstoreChoiceLookup in CollectInviteDetailsScreen. Shows the name for each Store and passes the ID for the flow user&apos;s selection.</description>
        <name>WebstoreChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>WebstoreChoiceLookup.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>WebStore</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Campfire - Invite to Reorder Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campfire - Instant Storefront - Invite to Reorder Portal</label>
    <overriddenFlow>sfdc_commerce__OrderInviteToReorder</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the contact records with IDs matching the contact IDs in ContactIds. Stores the ID and Name fields in the Contacts from GetContacts record collection.</description>
        <name>GetContacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectInviteDetailsScreenCollectInviteDetailsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the contract record with an ID matching the contract ID of Order from GetOrder. Stores the ID and CustomerSignedId fields in the Contract from GetContract record variable.</description>
        <name>GetContract</name>
        <label>Get Contract</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddContactIdToCollectionCustomerSignedId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrder.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CustomerSignedId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the order record with an ID matching the recordId that was passed into the flow. Stores the ID, AccountId, ContactId, QuoteId, and CustomerAuthorizedById fields in the Order from GetOrder record variable.</description>
        <name>GetOrder</name>
        <label>Get Order</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddContractToCollectionCustomerAuthorizedById</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>CustomerAuthorizedById</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Allows the flow user to select a contact and the reorder portal to invite them to.</description>
        <name>CollectInviteDetailsScreenCollectInviteDetailsScreen</name>
        <label>Collect Invite Details</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddSelectedContactToCollection</targetReference>
        </connector>
        <fields>
            <name>CollectInviteDetailsScreenCollectInviteDetailsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CollectInviteDetailsScreenCollectInviteDetailsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CollectInviteDetailsScreenCollectInviteDetailsScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectContactHeadingDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Select a Contact&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ContactChoiceLookup</name>
                    <choiceReferences>ContactChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Contact</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BlankSpaceDisplayTextCollectInviteDetailsScreen</name>
                    <fieldText>&lt;p&gt;  &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SelectWebstoreHeadingDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Select a Reorder Portal Site&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>WebstoreChoiceLookup</name>
                    <choiceReferences>WebstoreChoiceSet</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Webstore</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ScreenInstructionsDisplayText</name>
                    <fieldText>&lt;p&gt;Click Invite to send the contact an email invitation to the reorder portal. Using the portal, the customer can see past orders and reorder items.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CollectInviteDetailsScreenCollectInviteDetailsScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display ErrorMessageDisplayText to the flow user.</description>
        <name>DisplayFailureMessage</name>
        <label>Display Failure Message</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplayImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>/projRes/commerce-internal-integration-impl/reorder_action_error_image.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>180</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>padding-bottom:30px;padding-top:30px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Error symbol</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorMessageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: &amp;quot;Proxima Nova&amp;quot;, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Something went wrong. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display SuccessMessageDisplayText to the flow user.</description>
        <name>DisplayResults</name>
        <label>Display Results</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessDisplayImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>/projRes/commerce-internal-integration-impl/reorder_action_success_image.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>240</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>padding-bottom:20px;padding-top:20px;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Happy Astro</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SuccessMessageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;Invite sent!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;We&apos;ve sent {!ContactChoiceLookup.selectedChoiceLabels} a welcome email from the {!WebstoreChoiceLookup.selectedChoiceLabels} site.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <description>Stores a collection of contact IDs that include the person who can authorize the reorder, the person who can sign for the reorder, and the contact to invite to the reorder portal.</description>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the single ID selected by the flow user in  ContactChoiceLookup on CollectInviteDetailsScreen for use in InviteToReorderPortal.</description>
        <name>ContactToInviteCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the order that was passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
