storefrontcampfire/src/flows/Generate_Payment_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <description>A Screen flow that enables Salesforce Admins to embed Payment Link generation on any Record page in Salesforce. This flow requires Salesforce Pay Now to be enabled in the organization.</description>
    <environments>Default</environments>
    <formulas>
        <name>AmountInNumberForm</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!Get_Quote_Record.GrandTotal}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Generate Payment Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Payment Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Generate_Payment_Link</name>
        <label>Generate Payment Link</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Payment_Link_URL</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency_ISO_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodSetId__NotFound</field>
            <value>
                <elementReference>Get_Payment_Method_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>Get_Quote_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Payment_Link_URL</name>
        <label>Get Payment Link URL</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Payment_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Generate_Payment_Link</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Method_Set</name>
        <label>Get Payment Method Set</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Payment_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentMethodSetNumber__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payment_Method_Set_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MerchAccPaymentMethodSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_PDF</name>
        <label>Get Quote PDF</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>QuoteNumber</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>BillingName</queriedFields>
        <queriedFields>GrandTotal</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Collect_Information</name>
        <label>Collect Information</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Payment_Method_Set</targetReference>
        </connector>
        <fields>
            <name>ShowInfoText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Fill out these steps to generate and send a payment link to your buyer. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your title and description will be externally facing text on the Payment Page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Collect_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_Record.Name</elementReference>
                    </defaultValue>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is the title of your Payment that will display on your Pay Now Page.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collect_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_Record.GrandTotal</elementReference>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the amount the buyer will pay.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Collect_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Currency_ISO_Code</name>
                    <choiceReferences>USD</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_Record.CurrencyIsoCode</elementReference>
                    </defaultValue>
                    <fieldText>Currency ISO Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is the currency in which your buyer will provide payment&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collect_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Method_Set_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>PMS-000000001</stringValue>
                    </defaultValue>
                    <fieldText>Payment Method Set Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is the Payment Method Set Number that you can copy from your Payment Method Set Record.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!Get_Quote_Record.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is the description of your Payment that will display on your Pay Now Page.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Generate Link</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Payment_Link</name>
        <label>Show Payment Link</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Quote_PDF</targetReference>
        </connector>
        <fields>
            <name>ShowText</name>
            <fieldText>&lt;p&gt;If you want to send an email to your customer with the Payment Link and Quote PDF attached, please click the &apos;Send Email&apos; button below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CopyLink</name>
            <extensionName>c:clipboardButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>clipboardLabel</name>
                <value>
                    <stringValue>Payment Link URL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clipboardContent</name>
                <value>
                    <elementReference>Get_Payment_Link_URL.PaymentUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_Quote_Record.BillingName},

Please pay for your quote through the following payment link: {!Get_Payment_Link_URL.PaymentUrl}

Thank you!</text>
    </textTemplates>
    <variables>
        <name>justinCondrenEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>jcondren@salesforce.com</stringValue>
        </value>
    </variables>
    <variables>
        <description>recordId is passed in from object context in quick actions</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Quote_Record.Email</elementReference>
        </value>
    </variables>
</Flow>
